# URL del backend (NestJS en Railway)
NEXT_PUBLIC_API_URL="https://gaceta-ingles-web-production.up.railway.app"

# URL pública del sitio (usada en redirect de Wompi y metadatos SEO)
NEXT_PUBLIC_SITE_URL="https://www.gacetaingles.com"

# ID del Pixel de Meta/Facebook
NEXT_PUBLIC_FB_PIXEL_ID="1369127641335121"
