# Dependencias
node_modules/

# Next.js build
.next/
out/

# Nest.js build
dist/

# Variables de entorno (¡Muy importante para la seguridad de Wompi/Supabase!)
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*